<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        const pageTitle = "<%- pageTitle %>";
    </script>
    <%- include('../partial/header', pageTitle); %>  
</head>
<body>
    <h1><%- pageTitle %></h1>
    
</body>
</html>